body {
    margin: 20px;
    background-color: #FFF;
    font-family: 'Nunito', sans-serif;
    color: #051426;
  }

.header {
  font-family: 'Rubik Puddles', cursive;
  font-size:3em;
  color: #de00cf;
}

button {
  font-family: 'Nunito', sans-serif;
  font-size:1.2em;
}

#sort {
  background: #FFF;
  border: 0px;
  font-size: 2em;
}
  
  ol, ul {
    padding-left: 30px;
  }
  
  .board-row:after {
    clear: both;
    content: "";
    display: table;
  }
  
  .status {
    margin-bottom: 10px;
    font-size: 1.5em;
  }

  
  .board {
    margin: 20% 0% 20% 0%;
  }

  .square {
    background: #FFF;
    border: 1px solid #0D0D0D;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 70px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 70px;
  }

  .winningSquare {
    background-color: greenyellow;
  }
  
  .square:focus {
    outline: none;
  }
  
  .kbd-navigation .square:focus {
    background: #ddd;
  }
  
  .game {
    display: flex;
    flex-direction: column;
    align-items:center;
  }

  .game-info ol {
    list-style: none;
  } 

